ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    MC2L00R038-U230-MKWPS-115_01-1
    DATE-DMY 17/12/21
    ATTRIBUTE1  MC2L00R038-U230-MKWPS-115_01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  LH001
    INSULATION-SPEC  
    TRACING-SPEC  
TEE
    END-POINT        79402.5040    40722.7886    3237.8000    350.0000  BW
    END-POINT        79960.5040    40722.7886    3237.8000    350.0000  BW
    CENTRE-POINT     79681.5040    40722.7886    3237.8000
    BRANCH1-POINT    79681.5040    40722.7886    3485.8000    200.0000  BW
    SKEY  TEBW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350x200
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        79402.5040    40722.7886    3237.8000    350.0000
    END-POINT        79402.5040    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        61069.5529    40722.7886    3237.8000    350.0000
    END-POINT        79402.5040    40722.7886    3237.8000    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
SUPPORT
    CO-ORDS          76941.6576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          74375.0076    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          71456.6576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          68541.6576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          65613.3276    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          62698.3276    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
WELD
    END-POINT        61069.5529    40722.7886    3237.8000    350.0000
    END-POINT        61069.5529    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
TEE
    END-POINT        60511.5529    40722.7886    3237.8000    350.0000  BW
    END-POINT        61069.5529    40722.7886    3237.8000    350.0000  BW
    CENTRE-POINT     60790.5529    40722.7886    3237.8000
    BRANCH1-POINT    60790.5529    40722.7886    3494.8000    250.0000  BW
    SKEY  TEBW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350x250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        79681.5040    40722.7886    3485.8000    200.0000
    END-POINT        79681.5040    40722.7886    3485.8000    200.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_200
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
REDUCER-CONCENTRIC
    END-POINT        79681.5040    40722.7886    3485.8000    200.0000  BW
    END-POINT        79681.5040    40722.7886    3637.8000    100.0000  BW
    SKEY  RCBW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_200x100
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        79681.5040    40722.7886    3637.8000    100.0000
    END-POINT        79681.5040    40722.7886    3637.8000    100.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_100
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          79960.5040    40722.7886    3237.8000
    PIPELINE-REFERENCE    MC2L00R038-U230-MKWPS-115_02
WELD
    END-POINT        97431.4167    40722.7886    3442.5875    25.0000
    END-POINT        97431.4167    40722.7886    3442.5875    25.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        97431.4167    40722.7886    3682.8759    25.0000
    END-POINT        97431.4167    40722.7886    3442.5875    25.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        97431.4167    40722.7886    3682.8759    25.0000
    END-POINT        97431.4167    40722.7886    3682.8759    25.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
BEND
    END-POINT        97431.4167    40760.7886    3720.8759    25.0000  BW
    END-POINT        97431.4167    40722.7886    3682.8759    25.0000  BW
    CENTRE-POINT     97431.4167    40722.7886    3720.8759
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  38.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        97431.4167    40760.7886    3720.8759    25.0000
    END-POINT        97431.4167    40760.7886    3720.8759    25.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          97431.4167    40722.7886    3442.5875
    PIPELINE-REFERENCE    MC2L00R038-U231-MKWPS-104_01
WELD
    END-POINT        89627.4711    40722.7886    4048.5693    50.0000
    END-POINT        89627.4711    40722.7886    4048.5693    50.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
BEND
    END-POINT        89627.4711    40646.7886    4124.5693    50.0000  BW
    END-POINT        89627.4711    40722.7886    4048.5693    50.0000  BW
    CENTRE-POINT     89627.4711    40722.7886    4124.5693
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  76.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        89627.4711    40646.7886    4124.5693    50.0000
    END-POINT        89627.4711    40646.7886    4124.5693    50.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        89627.4711    36532.9593    4124.5693    50.0000
    END-POINT        89627.4711    40646.7886    4124.5693    50.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
LAPJOINT-STUBEND
    END-POINT        89627.4711    36509.9593    4124.5693    50.0000  LAP
    END-POINT        89627.4711    36532.9593    4124.5693    50.0000  BW
    SKEY  FLSE
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          89627.4711    40722.7886    4048.5694
    PIPELINE-REFERENCE    MC2L00R038-U230-MKWPS-115_06
WELD
    END-POINT        86382.5040    40722.7886    3994.8686    50.0000
    END-POINT        86382.5040    40722.7886    3994.8686    50.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
BEND
    END-POINT        86382.5040    40798.7886    4070.8686    50.0000  BW
    END-POINT        86382.5040    40722.7886    3994.8686    50.0000  BW
    CENTRE-POINT     86382.5040    40722.7886    4070.8686
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  76.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        86382.5040    40798.7886    4070.8686    50.0000
    END-POINT        86382.5040    40798.7886    4070.8686    50.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        86382.5040    42438.3332    4070.8686    50.0000
    END-POINT        86382.5040    40798.7886    4070.8686    50.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
LAPJOINT-STUBEND
    END-POINT        86382.5040    42461.3332    4070.8686    50.0000  LAP
    END-POINT        86382.5040    42438.3332    4070.8686    50.0000  BW
    SKEY  FLSE
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          86382.5040    40722.7886    3994.8686
    PIPELINE-REFERENCE    MC2L00R038-U230-MKWPS-115_07
WELD
    END-POINT        117011.1384    40722.7886    3237.8000    350.0000
    END-POINT        117011.1384    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
BEND
    END-POINT        117544.1384    40722.7886    3770.8000    350.0000  BW
    END-POINT        117011.1384    40722.7886    3237.8000    350.0000  BW
    CENTRE-POINT     117544.1384    40722.7886    3237.8000
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  533.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        117544.1384    40722.7886    3770.8000    350.0000
    END-POINT        117544.1384    40722.7886    3770.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        117544.1384    40722.7886    6234.7779    350.0000
    END-POINT        117544.1384    40722.7886    3770.8000    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        117544.1384    40722.7886    6234.7779    350.0000
    END-POINT        117544.1384    40722.7886    6234.7779    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          117011.1384    40722.7886    3237.8000
    PIPELINE-REFERENCE    MC2L00R058-U231-MKWPS-115_01
WELD
    END-POINT        110268.6362    40722.7886    3494.8000    250.0000
    END-POINT        110268.6362    40722.7886    3494.8000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        110268.6362    40722.7886    3670.5802    250.0000
    END-POINT        110268.6362    40722.7886    3494.8000    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        110268.6362    40722.7886    3670.5802    250.0000
    END-POINT        110268.6362    40722.7886    3670.5802    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
BEND
    END-POINT        110268.6362    41103.7886    4051.5802    250.0000  BW
    END-POINT        110268.6362    40722.7886    3670.5802    250.0000  BW
    CENTRE-POINT     110268.6362    40722.7886    4051.5802
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        110268.6362    41103.7886    4051.5802    250.0000
    END-POINT        110268.6362    41103.7886    4051.5802    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          110268.6362    40722.7886    3494.8000
    PIPELINE-REFERENCE    MC2L00R118-U231-MKWP/S-157_01
WELD
    END-POINT        108278.3517    40722.7886    3494.8000    250.0000
    END-POINT        108278.3517    40722.7886    3494.8000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        108278.3517    40722.7886    3670.5802    250.0000
    END-POINT        108278.3517    40722.7886    3494.8000    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        108278.3517    40722.7886    3670.5802    250.0000
    END-POINT        108278.3517    40722.7886    3670.5802    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
BEND
    END-POINT        108278.3517    40341.7886    4051.5802    250.0000  BW
    END-POINT        108278.3517    40722.7886    3670.5802    250.0000  BW
    CENTRE-POINT     108278.3517    40722.7886    4051.5802
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        108278.3517    40341.7886    4051.5802    250.0000
    END-POINT        108278.3517    40341.7886    4051.5802    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_19
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          108278.3517    40722.7886    3494.8000
    PIPELINE-REFERENCE    MC2L00R118-U231-MKWP/S-139_01
PIPE
    END-POINT        79960.5040    40722.7886    3237.8000    350.0000
    END-POINT        107999.3517    40722.7886    3237.8000    350.0000
    ITEM-CODE  LH001-31
    ITEM-DESCRIPTION  PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    TAP-CONNECTION  
    CO-ORDS          86382.5040    40722.7886    3413.0251    50.0000
    TAP-CONNECTION  
    CO-ORDS          89627.4711    40722.7886    3413.0251    50.0000
MESSAGE
    CO-ORDS          89627.4711    40722.7886    4048.5693
    TEXT  PROVIDE@RPAD
    UNDIMENSIONED
SUPPORT
    CO-ORDS          106458.3276    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5482
    ITEM-DESCRIPTION  Pipe Support PS20-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          103539.9976    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5431
    ITEM-DESCRIPTION  Pipe Support PS20-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          103539.9976    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5431
    ITEM-DESCRIPTION  Pipe Support PS20-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          100624.9976    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5482
    ITEM-DESCRIPTION  Pipe Support PS20-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          97704.9976    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5431
    ITEM-DESCRIPTION  Pipe Support PS20-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          94791.6576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5482
    ITEM-DESCRIPTION  Pipe Support PS20-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          91865.4576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5431
    ITEM-DESCRIPTION  Pipe Support PS20-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          88957.4576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5482
    ITEM-DESCRIPTION  Pipe Support PS20-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          86039.9976    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5431
    ITEM-DESCRIPTION  Pipe Support PS20-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          83124.9976    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5482
    ITEM-DESCRIPTION  Pipe Support PS20-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          80204.6576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5431
    ITEM-DESCRIPTION  Pipe Support PS20-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
WELD
    END-POINT        79960.5040    40722.7886    3237.8000    350.0000
    END-POINT        79960.5040    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        86382.5040    40722.7886    3413.0251    50.0000
    END-POINT        86382.5040    40722.7886    3413.0251    50.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
PIPE
    END-POINT        86382.5040    40722.7886    3994.8686    50.0000
    END-POINT        86382.5040    40722.7886    3413.0251    50.0000
    ITEM-CODE  LH001-13
    ITEM-DESCRIPTION  100HF PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
WELD
    END-POINT        89627.4711    40722.7886    3413.0251    50.0000
    END-POINT        89627.4711    40722.7886    3413.0251    50.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
PIPE
    END-POINT        89627.4711    40722.7886    4048.5693    50.0000
    END-POINT        89627.4711    40722.7886    3413.0251    50.0000
    ITEM-CODE  LH001-13
    ITEM-DESCRIPTION  100HF PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_50
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
OLET
    CENTRE-POINT     97431.4167    40722.7886    3237.8000
    BRANCH1-POINT    97431.4167    40722.7886    3442.5875    25.0000  BW
    SKEY  WTBW
    ITEM-CODE  LH001-5026
    ITEM-DESCRIPTION  WELDOLET, BW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350x25
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.34
MESSAGE
    CO-ORDS          97431.4167    40722.7886    3442.5875
    TEXT  PROVIDE@RPAD@
    UNDIMENSIONED
WELD
    END-POINT        97431.4167    40722.7886    3237.8000    350.0000
    END-POINT        97431.4167    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        107999.3517    40722.7886    3237.8000    350.0000
    END-POINT        107999.3517    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
TEE
    END-POINT        107999.3517    40722.7886    3237.8000    350.0000  BW
    END-POINT        108557.3517    40722.7886    3237.8000    350.0000  BW
    CENTRE-POINT     108278.3517    40722.7886    3237.8000
    BRANCH1-POINT    108278.3517    40722.7886    3494.8000    250.0000  BW
    SKEY  TEBW
    ITEM-CODE  LH001-599
    ITEM-DESCRIPTION  156HF PIPE T-PIECE WITH REDUCING BRANCH, DIN EN 10253-4
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350x250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        108557.3517    40722.7886    3237.8000    350.0000
    END-POINT        108557.3517    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
PIPE
    END-POINT        108557.3517    40722.7886    3237.8000    350.0000
    END-POINT        109989.6362    40722.7886    3237.8000    350.0000
    ITEM-CODE  LH001-31
    ITEM-DESCRIPTION  100HF PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
SUPPORT
    CO-ORDS          109371.6676    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5431
    ITEM-DESCRIPTION  Pipe Support PS20-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
WELD
    END-POINT        109989.6362    40722.7886    3237.8000    350.0000
    END-POINT        109989.6362    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
TEE
    END-POINT        109989.6362    40722.7886    3237.8000    350.0000  BW
    END-POINT        110547.6362    40722.7886    3237.8000    350.0000  BW
    CENTRE-POINT     110268.6362    40722.7886    3237.8000
    BRANCH1-POINT    110268.6362    40722.7886    3494.8000    250.0000  BW
    SKEY  TEBW
    ITEM-CODE  LH001-599
    ITEM-DESCRIPTION  156HF PIPE T-PIECE WITH REDUCING BRANCH, DIN EN 10253-4
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350x250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        110547.6362    40722.7886    3237.8000    350.0000
    END-POINT        110547.6362    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
PIPE
    END-POINT        110547.6362    40722.7886    3237.8000    350.0000
    END-POINT        117011.1384    40722.7886    3237.8000    350.0000
    ITEM-CODE  LH001-31
    ITEM-DESCRIPTION  100HF PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
FLOW-ARROW
    CO-ORDS          114371.6592    40722.7886    3237.8000
    FLOW  2
    SKEY  FLOW
SUPPORT
    CO-ORDS          116134.6676    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5482
    ITEM-DESCRIPTION  Pipe Support PS20-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          112291.6676    40722.7886    3237.8000    350.0000
    SKEY  GUID
    ITEM-CODE  LH001-5482
    ITEM-DESCRIPTION  Pipe Support PS20-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
PIPELINE-REFERENCE    MC2L00R038-U230-MKWPS-115_01-2
    DATE-DMY 17/12/21
    ATTRIBUTE1  MC2L00R038-U230-MKWPS-115_01
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  LH001
    INSULATION-SPEC  
    TRACING-SPEC  
WELD
    END-POINT        46204.5634    40722.7886    3394.4258    150.0000
    END-POINT        46204.5634    40722.7886    3394.4258    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        43817.3403    40722.7886    3237.8000    350.0000
    END-POINT        57700.0455    40722.7886    3237.8000    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    TAP-CONNECTION  
    CO-ORDS          46204.5634    40722.7886    3394.4258    150.0000
    TAP-CONNECTION  
    CO-ORDS          51769.7422    40722.7886    3409.9541    80.0000
    CONTINUATION 
SUPPORT
    CO-ORDS          56874.9976    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          53957.4576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          51042.4576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          48123.3276    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          45208.3276    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
WELD
    END-POINT        43817.3403    40722.7886    3237.8000    350.0000
    END-POINT        43817.3403    40722.7886    3237.8000    350.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        30133.6480    40722.7886    3237.8000    350.0000
    END-POINT        43817.3403    40722.7886    3237.8000    350.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    TAP-CONNECTION  
    CO-ORDS          32130.0942    40722.7886    3409.9541    80.0000
    CONTINUATION 
SUPPORT
    CO-ORDS          42289.3176    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          39372.8376    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          37270.8376    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          33542.4576    40722.7886    3237.8000    350.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=355.6,SH=277.8
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
WELD
    END-POINT        30133.6480    40722.7886    3237.8000    350.0000
    END-POINT        30133.6480    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        51769.7422    40722.7886    3409.9541    80.0000
    END-POINT        51769.7422    40722.7886    3409.9541    80.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_80
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        51769.7422    40722.7886    3927.8664    80.0000
    END-POINT        51769.7422    40722.7886    3409.9541    80.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_80
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        57700.0455    40722.7886    3237.8000    350.0000
    END-POINT        57700.0455    40722.7886    3237.8000    350.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_350
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          46204.5634    40722.7886    3394.4258
    PIPELINE-REFERENCE    MC2L00R038-U230-MKWPS-115_03
WELD
    END-POINT        46204.5634    40722.7886    3905.5500    150.0000
    END-POINT        46204.5634    40722.7886    3905.5500    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
BEND
    END-POINT        46204.5634    40951.7886    4134.5500    150.0000  BW
    END-POINT        46204.5634    40722.7886    3905.5500    150.0000  BW
    CENTRE-POINT     46204.5634    40722.7886    4134.5500
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  229.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        46204.5634    40951.7886    4134.5500    150.0000
    END-POINT        46204.5634    40951.7886    4134.5500    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        46204.5634    42446.3880    4134.5500    150.0000
    END-POINT        46204.5634    40951.7886    4134.5500    150.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_
    WEIGHT  0.0000
    CONTINUATION 
LAPJOINT-STUBEND
    END-POINT        46204.5634    42476.3880    4134.5500    150.0000  LAP
    END-POINT        46204.5634    42446.3880    4134.5500    150.0000  BW
    SKEY  FLSE
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  NA
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWP/S
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_InsulationType_NA
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Comment_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_SCHClass_16
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          46204.5634    40722.7886    3905.5500
    PIPELINE-REFERENCE    MC2L00L072-U231-MKWP/S-170_01
PIPE
    END-POINT        46204.5634    40722.7886    3905.5500    150.0000
    END-POINT        46204.5634    40722.7886    3394.4258    150.0000
    ITEM-CODE  LH001-23
    ITEM-DESCRIPTION  100HF PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  T60
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWPS
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_20
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_T60
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
MATERIALS
ITEM-CODE  LH001-31
    DESCRIPTION  PIPE, EN ISO 1127
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  350
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  Buttweld-350
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  350
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-599
    DESCRIPTION  156HF PIPE T-PIECE WITH REDUCING BRANCH, DIN EN 10253-4
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  350x250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  Tapweld-50
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  50
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-13
    DESCRIPTION  100HF PIPE, EN ISO 1127
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  50
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  Tapweld-350
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  350
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-5026
    DESCRIPTION  WELDOLET, BW
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  350x25
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-23
    DESCRIPTION  100HF PIPE, EN ISO 1127
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  150
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-5499
    DESCRIPTION  Pipe Support PS20-05/LC
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  350
    Count  
    Supportheight  H=100mm
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-5482
    DESCRIPTION  Pipe Support PS20-04/LC
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  350
    Count  
    Supportheight  H=100mm
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-5431
    DESCRIPTION  Pipe Support PS20-01/LC
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  T60
    Size  350
    Count  
    Supportheight  H=100mm
    IsoInstTag  
    Comment  