ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    MC2L00R038-U240-MKWES-101_02
    DATE-DMY 10/12/21
    ATTRIBUTE1  MC2L00R038-U240-MKWES-101_02
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  LH001
    INSULATION-SPEC  
    TRACING-SPEC  
PIPE
    END-POINT        60262.8909    41667.7886    3246.5000    250.0000
    END-POINT        61203.8909    41667.7886    3246.5000    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        61203.8909    41667.7886    3246.5000    250.0000
    END-POINT        61203.8909    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
TEE
    END-POINT        61203.8909    41667.7886    3246.5000    250.0000  BW
    END-POINT        61635.8909    41667.7886    3246.5000    250.0000  BW
    CENTRE-POINT     61419.8909    41667.7886    3246.5000
    BRANCH1-POINT    61419.8909    41667.7886    3440.5000    150.0000  BW
    SKEY  TEBW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250x150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        61635.8909    41667.7886    3246.5000    250.0000
    END-POINT        61635.8909    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        61635.8909    41667.7886    3246.5000    250.0000
    END-POINT        81539.8084    41667.7886    3246.5000    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
SUPPORT
    CO-ORDS          80204.6574    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=236.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          76941.6574    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=236.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          74375.0074    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=236.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          71456.8935    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=236.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          68542.1463    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=236.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          65618.6250    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=236.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          62698.6250    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=236.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=100mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
WELD
    END-POINT        61419.8909    41667.7886    3440.5000    150.0000
    END-POINT        61419.8909    41667.7886    3440.5000    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          60262.8909    41667.7886    3246.5000
    PIPELINE-REFERENCE    MC2L00R038-U240-MKWES-101_03
END-CONNECTION-EQUIPMENT
    CO-ORDS          81539.8084    41667.7886    3246.5000
    CONNECTION-REFERENCE    MC2L00R038-U240-MKWES-101_03
TEE
    END-POINT        106935.4347    41667.7886    3246.5000    250.0000  BW
    END-POINT        107367.4347    41667.7886    3246.5000    250.0000  BW
    CENTRE-POINT     107151.4347    41667.7886    3246.5000
    BRANCH1-POINT    107151.4347    41667.7886    3440.5000    150.0000  BW
    SKEY  TEBW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250x150x250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        107367.4347    41667.7886    3246.5000    250.0000
    END-POINT        107367.4347    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
TEE
    END-POINT        107367.4347    41667.7886    3246.5000    250.0000  BW
    END-POINT        107799.4347    41667.7886    3246.5000    250.0000  BW
    CENTRE-POINT     107583.4347    41667.7886    3246.5000
    BRANCH1-POINT    107583.4347    41667.7886    3440.5000    150.0000  BW
    SKEY  TEBW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250x150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        107799.4347    41667.7886    3246.5000    250.0000
    END-POINT        107799.4347    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        107799.4347    41667.7886    3246.5000    250.0000
    END-POINT        117163.1384    41667.7886    3246.5000    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
SUPPORT
    CO-ORDS          116134.6674    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          112291.6674    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
SUPPORT
    CO-ORDS          109371.6674    41667.7886    3246.5000    250.0000
    SKEY  GUID
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
    CONTINUATION 
WELD
    END-POINT        107151.4347    41667.7886    3440.5000    150.0000
    END-POINT        107151.4347    41667.7886    3440.5000    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        107151.4347    41667.7886    3942.7012    150.0000
    END-POINT        107151.4347    41667.7886    3440.5000    150.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        107151.4347    41667.7886    3942.7012    150.0000
    END-POINT        107151.4347    41667.7886    3942.7012    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          106935.4347    41667.7886    3246.5000
    PIPELINE-REFERENCE    MC2L00R038-U240-MKWES-101_01
WELD
    END-POINT        60262.8909    41667.7886    3246.5000    250.0000
    END-POINT        60262.8909    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
PIPE
    END-POINT        81539.8084    41667.7886    3246.5000    250.0000
    END-POINT        106935.4347    41667.7886    3246.5000    250.0000
    ITEM-CODE  LH001-27
    ITEM-DESCRIPTION  PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
FLOW-ARROW
    CO-ORDS          90018.7955    41667.7886    3246.5000
    FLOW  2
    SKEY  FLOW
SUPPORT
    CO-ORDS          106458.3274    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5663
    ITEM-DESCRIPTION  Pipe Support PS61-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          103539.9974    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5708
    ITEM-DESCRIPTION  Pipe Support PS61-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          100624.9974    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5663
    ITEM-DESCRIPTION  Pipe Support PS61-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          97704.9974    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5708
    ITEM-DESCRIPTION  Pipe Support PS61-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          94791.6574    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5663
    ITEM-DESCRIPTION  Pipe Support PS61-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          91865.4574    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5708
    ITEM-DESCRIPTION  Pipe Support PS61-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          88957.4574    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5708
    ITEM-DESCRIPTION  Pipe Support PS61-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          86039.9974    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5663
    ITEM-DESCRIPTION  Pipe Support PS61-01/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
SUPPORT
    CO-ORDS          83124.9974    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-2601
    ITEM-DESCRIPTION  Pipe Support PS20-06/LD
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
WELD
    END-POINT        81539.8084    41667.7886    3246.5000    250.0000
    END-POINT        81539.8084    41667.7886    3246.5000    250.0000
    SKEY  WS
    ERECTION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        106935.4347    41667.7886    3246.5000    250.0000
    END-POINT        106935.4347    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
MATERIALS
ITEM-CODE  Buttweld-250
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-27
    DESCRIPTION  PIPE, EN ISO 1127
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-5663
    DESCRIPTION  Pipe Support PS61-01/LC
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  H=100mm
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-5708
    DESCRIPTION  Pipe Support PS61-04/LC
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  H=100mm
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-5678
    DESCRIPTION  Pipe Support PS61-02/LC
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  H=150mm
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-2601
    DESCRIPTION  Pipe Support PS20-06/LD
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  H=150mm
    IsoInstTag  
    Comment  