ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  MM
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  MM
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    MC2L00R038-U240-MKWES-101_04
    DATE-DMY 10/12/21
    ATTRIBUTE1  MC2L00R038-U240-MKWES-101_04
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  LH001
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-CLOSED
    CO-ORDS          58447.2446    41667.7886    3246.5000
END-POSITION-CLOSED
    CO-ORDS          58741.7446    41667.7886    2820.1659
WELD
    END-POINT        58987.4451    41667.7886    3410.0125    25.0000
    END-POINT        58987.4451    41667.7886    3410.0125    25.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        58987.4451    41667.7886    3460.8402    25.0000
    END-POINT        58987.4451    41667.7886    3410.0125    25.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        58987.4451    41667.7886    3460.8402    25.0000
    END-POINT        58987.4451    41667.7886    3460.8402    25.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
BEND
    END-POINT        58987.4451    41667.7886    3460.8402    25.0000  BW
    END-POINT        58987.4451    41705.7886    3498.8402    25.0000  BW
    CENTRE-POINT     58987.4451    41667.7886    3498.8402
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  38.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        58987.4451    41705.7886    3498.8402    25.0000
    END-POINT        58987.4451    41705.7886    3498.8402    25.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_25
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          58987.4451    41667.7886    3410.0125
    PIPELINE-REFERENCE    MC2L00R038-U240-MKWES-101_05
WELD
    END-POINT        59507.2446    41667.7886    3440.5000    150.0000
    END-POINT        59507.2446    41667.7886    3440.5000    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        59504.4769    41667.7886    3841.8273    150.0000
    END-POINT        59507.2446    41667.7886    3440.5000    150.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        59504.4769    41667.7886    3841.8273    150.0000
    END-POINT        59504.4769    41667.7886    3841.8273    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
BEND
    END-POINT        59504.4769    41438.7886    4070.8273    150.0000  BW
    END-POINT        59504.4769    41667.7886    3841.8273    150.0000  BW
    CENTRE-POINT     59504.4769    41667.7886    4070.8273
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  229.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        59504.4769    41438.7886    4070.8273    150.0000
    END-POINT        59504.4769    41438.7886    4070.8273    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          59507.2446    41667.7886    3440.5000
    PIPELINE-REFERENCE    MC2L00R108-U241-MKWE/S-117_01
WELD
    END-POINT        60046.8909    41667.7886    3440.5000    150.0000
    END-POINT        60046.8909    41667.7886    3440.5000    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        60046.8909    41667.7886    3806.8849    150.0000
    END-POINT        60046.8909    41667.7886    3440.5000    150.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        60046.8909    41667.7886    3806.8849    150.0000
    END-POINT        60046.8909    41667.7886    3806.8849    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
BEND
    END-POINT        60046.8909    41896.7886    4035.8849    150.0000  BW
    END-POINT        60046.8909    41667.7886    3806.8849    150.0000  BW
    CENTRE-POINT     60046.8909    41667.7886    4035.8849
    SKEY  BEBW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  229.0000
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        60046.8909    41896.7886    4035.8849    150.0000
    END-POINT        60046.8909    41896.7886    4035.8849    150.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWE/S
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          60046.8909    41667.7886    3440.5000
    PIPELINE-REFERENCE    MC2L00R108-U241-MKWE/S-101_01
WELD
    END-POINT        60262.8909    41667.7886    3246.5000    250.0000
    END-POINT        60262.8909    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
PIPE
    END-POINT        60262.8909    41667.7886    3246.5000    250.0000
    END-POINT        61203.8909    41667.7886    3246.5000    250.0000
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
    CONTINUATION 
WELD
    END-POINT        61203.8909    41667.7886    3246.5000    250.0000
    END-POINT        61203.8909    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
TEE
    END-POINT        61203.8909    41667.7886    3246.5000    250.0000  BW
    END-POINT        61635.8909    41667.7886    3246.5000    250.0000  BW
    CENTRE-POINT     61419.8909    41667.7886    3246.5000
    BRANCH1-POINT    61419.8909    41667.7886    3440.5000    150.0000  BW
    SKEY  TEBW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250x150
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
WELD
    END-POINT        61635.8909    41667.7886    3246.5000    250.0000
    END-POINT        61635.8909    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          60262.8909    41667.7886    3246.5000
    PIPELINE-REFERENCE    MC2L00R038-U240-MKWES-101_03
FLANGE-BLIND
    END-POINT        58473.2446    41667.7886    3246.5000    250.0000  FL
    END-POINT        58447.2446    41667.7886    3246.5000    250.0000  FL
    SKEY  FLBL
    ITEM-CODE  LH001-958
    ITEM-DESCRIPTION  230HF3 BLIND FLANGE, PN10, EN1092-1 TYPE 05
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
FLANGE-BLIND
    END-POINT        58741.7446    41667.7886    2834.1659    15.0000  FL
    END-POINT        58741.7446    41667.7886    2820.1659    15.0000  FL
    SKEY  FLBL
    ITEM-CODE  LH001-946
    ITEM-DESCRIPTION  BLIND FLANGE, PN10, EN1092-1 TYPE 05
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
GASKET
    END-POINT        58473.2446    41667.7886    3246.5000    250.0000
    END-POINT        58476.2446    41667.7886    3246.5000    250.0000
    ITEM-CODE  LH001-2052
    ITEM-DESCRIPTION  270AF GASKET, 3MM THICK
    ERECTION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
VALVE
    END-POINT        58544.2446    41667.7886    3246.5000    250.0000  FL
    END-POINT        58476.2446    41667.7886    3246.5000    250.0000  FL
    SKEY  VYFL
    ITEM-CODE  LH001-4074
    ITEM-DESCRIPTION  10BAH BUTTERFLY VALVE, LUG, PN10
    FABRICATION-ITEM
    TAG  U241-VH 149
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    SPINDLE-DIRECTION  DOWN
    DIRECTION  DOWN
BOLT
    CO-ORDS          58476.2446    41667.7886    3246.5000    250.0000
    BOLT-DIA  24
    BOLT-ITEM-CODE  LH001-1767-90
    ITEM-DESCRIPTION  280BB.56 & 282BB.56 BOLT SET, LUG
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  90
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
BOLT
    CO-ORDS          58544.2446    41667.7886    3246.5000    250.0000
    BOLT-DIA  24
    BOLT-ITEM-CODE  LH001-1767-90
    ITEM-DESCRIPTION  280BB.56 & 282BB.56 BOLT SET, LUG
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  90
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
GASKET
    END-POINT        58544.2446    41667.7886    3246.5000    250.0000
    END-POINT        58547.2446    41667.7886    3246.5000    250.0000
    ITEM-CODE  LH001-2052
    ITEM-DESCRIPTION  270AF GASKET, 3MM THICK
    ERECTION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
FLANGE
    END-POINT        58547.2446    41667.7886    3246.5000    250.0000  FL
    END-POINT        58615.2446    41667.7886    3246.5000    250.0000  BW
    SKEY  FLWN
    ITEM-CODE  LH001-933
    ITEM-DESCRIPTION  WELD NECK FLANGE, PN10, EN1092-1 TYPE 11
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
PIPE
    END-POINT        58615.2446    41667.7886    3246.5000    250.0000
    END-POINT        59291.2446    41667.7886    3246.5000    250.0000
    ITEM-CODE  LH001-27
    ITEM-DESCRIPTION  PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
FLOW-ARROW
    CO-ORDS          59127.5216    41667.7886    3246.5000
    FLOW  2
    SKEY  FLOW
WELD
    END-POINT        58615.2446    41667.7886    3246.5000    250.0000
    END-POINT        58615.2446    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
BOLT
    CO-ORDS          58741.7446    41667.7886    2834.1659    15.0000
    BOLT-DIA  12
    BOLT-ITEM-CODE  LH001-1342-70
    ITEM-DESCRIPTION  BOLT SET
    ERECTION-ITEM
    BOLT-QUANTITY  4
    BOLT-LENGTH  70
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
GASKET
    END-POINT        58741.7446    41667.7886    2834.1659    15.0000
    END-POINT        58741.7446    41667.7886    2837.1659    15.0000
    ITEM-CODE  LH001-2082
    ITEM-DESCRIPTION  GASKET, 3MM THICK
    ERECTION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
VALVE
    END-POINT        58741.7446    41667.7886    2967.1659    15.0000  FL
    END-POINT        58741.7446    41667.7886    2837.1659    15.0000  FL
    SKEY  VBFL
    ITEM-CODE  LH001-3844
    ITEM-DESCRIPTION  9HA BALL VALVE, FL, PN16
    FABRICATION-ITEM
    TAG  U241-VH150
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    SPINDLE-DIRECTION  NORTH
    DIRECTION  NORTH
BOLT
    CO-ORDS          58741.7446    41667.7886    2967.1659    15.0000
    BOLT-DIA  12
    BOLT-ITEM-CODE  LH001-1342-70
    ITEM-DESCRIPTION  BOLT SET
    ERECTION-ITEM
    BOLT-QUANTITY  4
    BOLT-LENGTH  70
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
GASKET
    END-POINT        58741.7446    41667.7886    2967.1659    15.0000
    END-POINT        58741.7446    41667.7886    2970.1659    15.0000
    ITEM-CODE  LH001-2082
    ITEM-DESCRIPTION  GASKET, 3MM THICK
    ERECTION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
FLANGE
    END-POINT        58741.7446    41667.7886    2970.1659    15.0000  FL
    END-POINT        58741.7446    41667.7886    3005.1659    15.0000  BW
    SKEY  FLWN
    ITEM-CODE  LH001-908
    ITEM-DESCRIPTION  WELD NECK FLANGE, PN10, EN1092-1 TYPE 11
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
PIPE
    END-POINT        58741.7446    41667.7886    3005.1659    15.0000
    END-POINT        58741.7446    41667.7886    3090.9250    15.0000
    ITEM-CODE  LH001-3
    ITEM-DESCRIPTION  PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
WELD
    END-POINT        58741.7446    41667.7886    3005.1659    15.0000
    END-POINT        58741.7446    41667.7886    3005.1659    15.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
OLET
    CENTRE-POINT     58741.7446    41667.7886    3246.5000
    BRANCH1-POINT    58741.7446    41667.7886    3090.9250    15.0000  BW
    SKEY  WTBW
    ITEM-CODE  LH001-4967
    ITEM-DESCRIPTION  WELDOLET, BW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250x15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0544316429284224
WELD
    END-POINT        58741.7446    41667.7886    3090.9250    15.0000
    END-POINT        58741.7446    41667.7886    3090.9250    15.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_15
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        58741.7446    41667.7886    3246.5000    250.0000
    END-POINT        58741.7446    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
OLET
    CENTRE-POINT     58987.4451    41667.7886    3246.5000
    BRANCH1-POINT    58987.4451    41667.7886    3410.0125    25.0000  BW
    SKEY  WTBW
    ITEM-CODE  LH001-4971
    ITEM-DESCRIPTION  WELDOLET, BW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250x25
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.154222988297197
WELD
    END-POINT        58987.4451    41667.7886    3246.5000    250.0000
    END-POINT        58987.4451    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
TEE
    END-POINT        59291.2446    41667.7886    3246.5000    250.0000  BW
    END-POINT        59723.2446    41667.7886    3246.5000    250.0000  BW
    CENTRE-POINT     59507.2446    41667.7886    3246.5000
    BRANCH1-POINT    59507.2446    41667.7886    3440.5000    150.0000  BW
    SKEY  TEBW
    ITEM-CODE  LH001-575
    ITEM-DESCRIPTION  PIPE T-PIECE WITH REDUCING BRANCH, TYPE A W, DIN EN 10253-2
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250x150x250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        59291.2446    41667.7886    3246.5000    250.0000
    END-POINT        59291.2446    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        59723.2446    41667.7886    3246.5000    250.0000
    END-POINT        59723.2446    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
PIPE
    END-POINT        59723.2446    41667.7886    3246.5000    250.0000
    END-POINT        59830.8909    41667.7886    3246.5000    250.0000
    ITEM-CODE  LH001-27
    ITEM-DESCRIPTION  PIPE, EN ISO 1127
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
    WEIGHT  0.0000
SUPPORT
    CO-ORDS          59781.3612    41667.7886    3246.5000    250.0000
    SKEY  GUID
    ITEM-CODE  LH001-5708
    ITEM-DESCRIPTION  Pipe Support PS61-04/LC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   SUPPORTSTANDARD_D=273,SH=286.5
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_Supportheight_H=150mm
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_IsoInstTag_
TEE
    END-POINT        59830.8909    41667.7886    3246.5000    250.0000  BW
    END-POINT        60262.8909    41667.7886    3246.5000    250.0000  BW
    CENTRE-POINT     60046.8909    41667.7886    3246.5000
    BRANCH1-POINT    60046.8909    41667.7886    3440.5000    150.0000  BW
    SKEY  TEBW
    ITEM-CODE  LH001-575
    ITEM-DESCRIPTION  PIPE T-PIECE WITH REDUCING BRANCH, TYPE A W, DIN EN 10253-2
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250x150x250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
WELD
    END-POINT        59830.8909    41667.7886    3246.5000    250.0000
    END-POINT        59830.8909    41667.7886    3246.5000    250.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  LH001
    INSULATION-SPEC  K51
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   SERVICE_MKWES
    COMPONENT-ATTRIBUTE2   INSULATIONTHICKNESS_50
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE4   BOMCOLUMN_Spec_LH001
    COMPONENT-ATTRIBUTE5   BOMCOLUMN_InsulationType_K51
    COMPONENT-ATTRIBUTE6   BOMCOLUMN_Size_250
    COMPONENT-ATTRIBUTE7   BOMCOLUMN_Count_
    COMPONENT-ATTRIBUTE8   BOMCOLUMN_Supportheight_
    COMPONENT-ATTRIBUTE9   BOMCOLUMN_IsoInstTag_
    COMPONENT-ATTRIBUTE10   BOMCOLUMN_Comment_
MATERIALS
ITEM-CODE  LH001-575
    DESCRIPTION  PIPE T-PIECE WITH REDUCING BRANCH, TYPE A W, DIN EN 10253-2
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250x150x250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  Buttweld-250
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-27
    DESCRIPTION  PIPE, EN ISO 1127
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  Tapweld-250
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-4971
    DESCRIPTION  WELDOLET, BW
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250x25
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-933
    DESCRIPTION  WELD NECK FLANGE, PN10, EN1092-1 TYPE 11
    Schedule  
    PressureClass  10
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-1767-90
    DESCRIPTION  280BB.56 & 282BB.56 BOLT SET, LUG
    Schedule  
    PressureClass  10
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-2052
    DESCRIPTION  270AF GASKET, 3MM THICK
    Schedule  
    PressureClass  10
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-4074
    DESCRIPTION  10BAH BUTTERFLY VALVE, LUG, PN10
    Schedule  
    PressureClass  10
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-958
    DESCRIPTION  230HF3 BLIND FLANGE, PN10, EN1092-1 TYPE 05
    Schedule  
    PressureClass  10
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-4967
    DESCRIPTION  WELDOLET, BW
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250x15
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  Buttweld-15
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  15
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-3
    DESCRIPTION  PIPE, EN ISO 1127
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  15
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-908
    DESCRIPTION  WELD NECK FLANGE, PN10, EN1092-1 TYPE 11
    Schedule  
    PressureClass  16
    Material  
    Spec  LH001
    InsulationType  K51
    Size  15
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-1342-70
    DESCRIPTION  BOLT SET
    Schedule  
    PressureClass  16
    Material  
    Spec  LH001
    InsulationType  K51
    Size  15
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-2082
    DESCRIPTION  GASKET, 3MM THICK
    Schedule  
    PressureClass  16
    Material  
    Spec  LH001
    InsulationType  K51
    Size  15
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-3844
    DESCRIPTION  9HA BALL VALVE, FL, PN16
    Schedule  
    PressureClass  16
    Material  
    Spec  LH001
    InsulationType  K51
    Size  15
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-946
    DESCRIPTION  BLIND FLANGE, PN10, EN1092-1 TYPE 05
    Schedule  
    PressureClass  16
    Material  
    Spec  LH001
    InsulationType  K51
    Size  15
    Count  
    Supportheight  
    IsoInstTag  
    Comment  
ITEM-CODE  LH001-5708
    DESCRIPTION  Pipe Support PS61-04/LC
    Schedule  
    PressureClass  
    Material  
    Spec  LH001
    InsulationType  K51
    Size  250
    Count  
    Supportheight  H=150mm
    IsoInstTag  
    Comment  